<!-- Detail Products  -->
<div class="max-w-7xl mx-auto min-h-screen lg:px-10 px-6">
  <nav class="text-text1 my-5 lg:my-10 lg:text-base">
    Account / Gaming / <span class="text-black">Havic HV G-92 Gamepad</span>
  </nav>
  <!-- main -->
  <div class="grid grid-cols-1 gap-10 lg:grid-cols-2">
    <!-- Image Section -->
    <div class="lg:flex lg:gap-6 gap-10">
      <div class="grid lg:grid-cols-1 grid-cols-4 lg:gap-4 gap-2">
        <img
          src="./public/detail/sub1.png"
          class="w-full h-24 md:h-32 object-contain bg-secondary rounded p-2 lg:p-4"
        />
        <img
          src="./public/detail/sub2.png"
          class="w-full h-24 md:h-32 object-contain bg-secondary rounded p-2 lg:p-4"
        />
        <img
          src="./public/detail/sub3.png"
          class="w-full h-24 md:h-32 object-contain bg-secondary rounded p-2 lg:p-4"
        />
        <img
          src="./public/detail/sub4.png"
          class="w-full h-24 md:h-32 object-contain bg-secondary rounded p-2 lg:p-4"
        />
      </div>
      <!-- main image -->
      <div class="grid">
        <img
          src="./public/detail/main.png"
          alt="Gamepad"
          class="w-full h-full object-contain rounded-lg bg-secondary lg:p-12 p-6 lg:m-0 mt-2"
        />
      </div>
    </div>

    <!-- Info Section -->
    <div class="text-lg lg:text-balance">
      <div class="lg:grid flex justify-between">
        <div class="">
          <h1 class="text-lg font-semibold lg:text-balance">
            Havic HV G-92 Gamepad
          </h1>
          <p class="text-lg lg:text-xl lg:my-4 my-2">
            <a>
              <i class="fa-solid fa-star text-amber-300"></i>
              <i class="fa-solid fa-star text-amber-300"></i>
              <i class="fa-solid fa-star text-amber-300"></i>
              <i class="fa-solid fa-star text-amber-300"></i>
              <i class="fa-solid fa-star text-amber-300"></i>
            </a>
            <span class="text-button1">In Stock</span>
          </p>
        </div>
        <p class="font-bold text-secondary2 lg:text-xl text-lg">$192.00</p>
      </div>
      <hr />
      <p class="text-text1">
        PlayStation 5 Controller Skin high quality vinyl with air channel
        adhesive for easy bubble-free install & mess free removal. Pressure
        sensitive.
      </p>
      <!-- Colors -->
      <div class="mb-4">
        <p class="font-medium mb-1">Colours:</p>
        <div class="flex gap-2">
          <div
            class="w-6 h-6 rounded-full bg-secondary2 border-2 border-text cursor-pointer"
          ></div>
          <div
            class="w-6 h-6 rounded-full bg-white border-2 border-secondary2 cursor-pointer"
          ></div>
        </div>
      </div>

      <div class="lg:grid md:flex sm:grid justify-between">
        <!-- Sizes -->
        <div class="">
          <div class="mb-4">
            <p class="font-medium mb-1">Size:</p>
            <div class="flex gap-2">
              <button class="border px-3 py-1 rounded hover:bg-gray-100">
                XS
              </button>
              <button class="border px-3 py-1 rounded hover:bg-gray-100">
                S
              </button>
              <button class="border px-3 py-1 rounded bg-secondary2 text-text">
                M
              </button>
              <button class="border px-3 py-1 rounded hover:bg-gray-100">
                L
              </button>
              <button class="border px-3 py-1 rounded hover:bg-gray-100">
                XL
              </button>
            </div>
          </div>

          <!-- Quantity + Buy -->
          <div class="flex items-center gap-4 mb-4">
            <input
              type="number"
              value="2"
              min="1"
              class="w-16 border rounded p-1 text-center"
            />
            <button
              class="bg-secondary2 text-white px-6 py-2 rounded hover:bg-hover-button"
            >
              Buy Now
            </button>
          </div>
        </div>

        <!-- Delivery Info -->
        <div class="pt-4 text-sm lg:w-full w-fit">
          <p class="border flex p-4 gap-4">
            <img src="./public/detail/car.png" alt="delivery" /> Free
            Delivery<br />
            Enter your postal code for delivery availability
          </p>
          <p class="border flex p-4 gap-4">
            <img src="./public/detail/return.png" alt="return" />
            Return Delivery <br />
            Free 30-day delivery returns
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Related Items -->
  <h2 class="text-xl font-semibold my-10 lg:text-2xl text-secondary2">
    Related Items
  </h2>
  <div
    class="grid grid-cols-1 gap-6 my-10 mb-10 md:grid-cols-2 lg:grid-cols-4 text-lg"
  >
    <!-- Relate Item 1 -->
    <div class="grid gap-4">
      <!-- product -->
      <div class="h-{50%} bg-secondary p-4 rounded-sm">
        <div class="flex justify-between">
          <span class="p-2 rounded-sm bg-secondary2 text-text">-40%</span>
          <div class="flex flex-col gap-1 text-xl">
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-eye"></i>
          </div>
        </div>
        <img
          src="/public/detail/relate1.png"
          alt=""
          class="p-2 md:p-4 pt-0 w-full h-30 object-contain"
        />
        <div
          class="w-full bg-black text-white text-center py-2 rounded-sm opacity-0 hover:opacity-100 duration-300"
        >
          Add To Cart
        </div>
      </div>
      <!-- detail product -->
      <div class="h-{50%} grid gap-2 md:text-xl text-lg">
        <p class="font-medium">HAWT HV-92 Gamepad</p>
        <p class="text-secondary2">$100 <del class="text-text1">$150</del></p>
        <a class="flex items-center">
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <span class="text-text1 ml-2">(99)</span>
        </a>
      </div>
    </div>

    <!-- Relate Item 2 -->
    <div class="grid gap-4">
      <!-- product -->
      <div class="h-{50%} bg-secondary p-4 rounded-sm">
        <div class="flex justify-between">
          <span class="p-2 rounded-sm bg-secondary2 text-text">-40%</span>
          <div class="flex flex-col gap-1 text-xl">
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-eye"></i>
          </div>
        </div>
        <img
          src="/public/detail/relate2.png"
          alt=""
          class="p-2 md:p-4 pt-0 w-full h-30 object-contain"
        />
        <div
          class="w-full bg-black text-white text-center py-2 rounded-sm opacity-0 hover:opacity-100 duration-300"
        >
          Add To Cart
        </div>
      </div>
      <!-- detail product -->
      <div class="h-{50%} grid gap-2 md:text-xl text-lg">
        <p class="font-medium">AK-900 Wired Keyboard</p>
        <p class="text-secondary2">$100 <del class="text-text1">$150</del></p>
        <a class="flex items-center">
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <span class="text-text1 ml-2">(99)</span>
        </a>
      </div>
    </div>

    <!-- Relate Item 3 -->
    <div class="grid gap-4">
      <!-- product -->
      <div class="h-{50%} bg-secondary p-4 rounded-sm">
        <div class="flex justify-between">
          <span class="p-2 rounded-sm bg-secondary2 text-text">-40%</span>
          <div class="flex flex-col gap-1 text-xl">
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-eye"></i>
          </div>
        </div>
        <img
          src="/public/detail/relate3.png"
          alt=""
          class="p-2 md:p-4 pt-0 w-full h-30 object-contain"
        />
        <div
          class="w-full bg-black text-white text-center py-2 rounded-sm opacity-0 hover:opacity-100 duration-300"
        >
          Add To Cart
        </div>
      </div>
      <!-- detail product -->
      <div class="h-{50%} grid gap-2 md:text-xl text-lg">
        <p class="font-medium">IPS LCD Gaming Monitor</p>
        <p class="text-secondary2">$370 <del class="text-text1">$400</del></p>
        <a class="flex items-center">
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <span class="text-text1 ml-2">(99)</span>
        </a>
      </div>
    </div>

    <!-- Relate Item 4 -->
    <div class="grid gap-4">
      <!-- product -->
      <div class="h-{50%} bg-secondary p-4 rounded-sm">
        <div class="flex justify-between">
          <span class="p-2 rounded-sm bg-secondary2 text-text">-40%</span>
          <div class="flex flex-col gap-1 text-xl">
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-eye"></i>
          </div>
        </div>
        <img
          src="/public/detail/relate4.png"
          alt=""
          class="p-2 md:p-4 pt-0 w-full h-30 object-contain"
        />
        <div
          class="w-full bg-black text-white text-center py-2 rounded-sm opacity-0 hover:opacity-100 duration-300"
        >
          Add To Cart
        </div>
      </div>
      <!-- detail product -->
      <div class="h-{50%} grid gap-2 md:text-xl text-lg">
        <p class="font-medium text-text2">RGB Liquid CPU Cooler</p>
        <p class="text-secondary2">$160 <del class="text-text1">$170</del></p>
        <a class="flex items-center">
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <i class="fa-solid fa-star text-amber-300"></i>
          <span class="text-text1 ml-2">(99)</span>
        </a>
      </div>
    </div>
  </div>
</div>
